/* You can add global styles to this file, and also import other style files */
body {
    background-color: #e2e2e2;
    font-family: 'Roboto Condensed', sans-serif;
}

.bugs {
    width: 500px;
}

li.bug {
    padding-bottom: 5px;
    border-bottom: 1px solid #141414;
    margin-bottom: 15px;
    padding-left: 0.75rem;
    list-style-type: none;
}